<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="https://unpkg.com/vue@3.2.29"></script>
</head>

<body>
    <div id="app">
        <h1>Server status</h1>
        <p v-if="isActive">Server is UP</p>
        <p v-else>Server is DOWN</p>
        <p v-show="isActive">Access Server</p>
        <template v-if="isActive">
            <h2>Section 1</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem et at molestiae ut quisquam perferendis
                quaerat voluptates suscipit repellat? Dolore praesentium vel id at repellendus, cumque adipisci voluptas
                culpa fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus libero voluptas illo rerum
                minima quo voluptatem eligendi recusandae numquam. Officiis suscipit consequuntur nisi obcaecati iusto
                qui, molestias aperiam fuga!</p>
        </template>
        <template v-else>
            <h2>Section 2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem et at molestiae ut quisquam perferendis
                quaerat voluptates suscipit repellat? Dolore praesentium vel id at repellendus, cumque adipisci voluptas
                culpa fugit.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae minus libero voluptas illo rerum
                minima quo voluptatem eligendi recusandae numquam. Officiis suscipit consequuntur nisi obcaecati iusto
                qui, molestias aperiam fuga!</p>
        </template>
    </div>
    <script>
        const myApp = Vue.createApp({
            data() {
                return {
                    isActive: true,
                }
            }
        })
        myApp.mount('#app');
    </script>
</body>

</html>